dist: trusty
language: java
install: true
addons:
  sonarcloud:
    organization: edgedalmacio-github
    token:
      secure: akSMG1B1DI0NwVcimPM7K19C/DLtbwgJqaJfnlaA1axZ0xnCXZqATZFOYpY6GeRtiHhqSEewqjVyMjIEccJ6K2HRqVmFume9v84WsGJRwAYTZR0pjNUGuNkRlW3i9lK2sYG7TzG1iagHd29RnDO4m4OcE54Mf700RB3voPEAwII=
jdk:
- oraclejdk8
env:
  matrix:
    secure: EokAWva6gfwYCz+ljHPC1m+zrqmgtTmmym/o+QwUm7xPjJtPl1fHQyxQFPWPrnOVKGVV+9AVPY3O3UHdhyEiuvA6Pjkb6RB0Zi7vaqPyGsyxdiDiYVzkiTwdvrMWNofK/Kmdio+RVuYXb5AVQmKAAwabau+A4ZrLZhFb72ed7E4=
  global:
  - PATH=${HOME}/.cache/google-cloud-tools-java/managed-cloud-sdk/LATEST/google-cloud-sdk/bin/:${PATH}
before_install:
- openssl aes-256-cbc -K $encrypted_fde368363178_key -iv $encrypted_fde368363178_iv -in phisix-api.tar.enc -out phisix-api.tar -d
- tar xvf phisix-api.tar
- pyenv versions
- pyenv global 3.6.3 2.7.14
- python --version
- python2 --version
script:
- mvn -B clean org.jacoco:jacoco-maven-plugin:prepare-agent verify
after_success:
- ./deploy.sh
cache:
  directories:
  - "$HOME/.m2/repository"
  - "$HOME/.sonar/cache"
  - "$HOME/.cache"
branches:
  only:
  - master
